export ZPLUG_HOME={{ zplug_home }}
source $ZPLUG_HOME/init.zsh

{% for key, value in zplug_variables.items() %}
{{ key }}={{ value }}
{% endfor %}

{% for name, details in zplug_packages.items() %}
{% set details = details | default({}, true) %}
zplug "{{ details.get("repo") | default(name, true) }}"{% for key, value in details.items() %}{% if key != "repo" %}, {{ key }}:{{ value }}{% endif %}{% endfor %}

{% endfor %}

# Install and load plugins
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

zplug load
